chromadb
streamlit
watchdog
llama_index
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
#llama-index-llms-ollama
llama-index-llms-anthropic # theres one for each LLM
langchain-community

pysqlite3-binary

# supervisor
# accelerate

# sentence_transformers
# llama-index-embeddings-langchain
# llama-index-llms-huggingface
# langchain-core
# langchain
# sentence-transformers
# transformers
# spacy

